*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{

    height: 60px;
    background-color: black;
    /* border: 2px solid greenyellow; */
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */

}

.nav-logo{

    height: 50px;
    width: 100px;
}

.logo{


    background-image: url("12.jpg");
    background-size: cover;
    align-items: center;
    margin: 3px;
    height:40px;
    width: 90px; ;
}

.border{

    border: 0.90px solid transparent;
}

.border:hover{

    border: 0.90px solid white;
}

        /* *** box2**** */

.address-first{

    color: rgb(37, 37, 155);
    font-size: 1rem;
    margin: 5px;

}


.address-second{

    color: beige;
    font-size: 1rem;
    margin: 5px;
}


 /* ******box3****** */

 .nav-serch{

    display: flex;
    background-color: beige;
    width: 620px;
    height: 40px;
    border-radius: 40px;

 }
.serch-select{

    background-color: darkgrey;
    border-radius: 5px;
}
 .serch-input{ 


    width: 100%;
    border: none;

}


.search:focus{
    background-color: orange;
}

/* *****box4***** */
 
span{

    font-size: 1.5rem;

}


/* *******box5******** */

span{

    font-size: 1.5rem;

}

.penal-ops{

    display: flex;
    justify-content: space-between;
    background-color: rgb(163, 147, 113);
}

/* ********hiro section****** */

.hiro-section img{
    height: 600px;
    background-size: cover;
    width: 100%;
}

.hiro-section1{


    background-color: rgb(182, 169, 153);
    
}






    /* ****shoping section *** */

.shoping-section{

    display: flex;
    justify-items: center;
    justify-content: space-around;
    background-color: rgb(146, 138, 138);
    


    
}

.box{

    height: 200px;
    width: 20%;
    background-color: #e2e7e2;
    border: 2px solid rgb(27, 25, 25);
    justify-content: space-evenly;

    
    
    
}
.box img{
    background-size: cover;
    /* object-fit: cover; */
    width: 300px;
    height: 200px;
}

.box1{

    background-size: cover;
}



